@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7%;
    background-color: rgba(197, 222, 234, 1);
}

.container-principal {
    height: 100%;
    width: 100%;
    display: flex;
}

.header-container img {
    height: 7vh;
    align-items: center;
}

.left-header {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 13vw;
    background-color: rgba(119, 173, 203, 1);
    flex-direction: column;

    & .expandir-img {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
    }

    & .expandir-img img {
        margin-top: 25px;
        margin-right: 25px;
        height: 1.5vw;
    }

    & .user-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20vh;
    }

    & .user-img img {
        height: 15vh;
    }

    & .user-name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    & .user-name p {
        color: white;
        font-size: 1.2vw;
    }

    & .user-name img {
        margin-top: 9px;
        margin-left: 10px;
    }

    & .icons-sino, & .icons-dashboard, & .icons-grupos, & .icons-suporte {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 6vh;
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 20px;
        transition: 0.5s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        & a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: white;
            margin-right: 10px;
        }

        & img {
            height: 4.5vh;
            margin-right: 10px;
        }
    }

    & .icons-suporte {
        margin-top: 260px;
    }

    & .icons-exit {
        display: flex;
        justify-content:center;
        width: 100%;
    }

    & .icons-exit img {
        margin-top: 40px;
        height: 2.5vw;
     
    }
}

.tittle {
    width: 75vw;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 300;
}

.tittle h3 {
    font-weight: 300;
    color: rgba(119, 173, 203, 1);
}

.choice-section, .nome-section, .empresa-section, .cargo-section, .data-section, .cidade-section {
    width: 50%;
    height: 10vh;
    margin-top: 50px;

    & p {
        color: rgba(119, 173, 203, 1);
        font-size: 30px;
        font-weight: 300;
    }

    & input {
        border: 0.5px solid rgba(119, 173, 203, 1);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        width: 40%;
        height: 5vh;
        border-radius: 40px;
        padding-left: 16px;
        padding-right: 20px;
    }
}

.container-section {
    width: 83%;
    height: 100vh;
    overflow: hidden; 
    
}
.conteudo {
    height: 100%;
    width: 100%;
    text-align: center; 
    padding: 0;
}

.container {
    height: 100%;
    width: 49%;
    display: inline-block;
    vertical-align: top; 
}

.norte,.nordeste,.centro-oeste,.sudeste,.sul{
fill:rgba(119, 173, 203, 1);
}
path{
    fill: #1da1f2;
    stroke: black;
    stroke-width: 1px;
}
path:hover{
 fill: white;
 stroke-width: 1px;
 stroke: black;
}
text{
    cursor:pointer;

}
path{
    cursor: pointer;
}
.conteinerDireito{
    height: 100%;
    width: 50%;
    display: inline-block;
    vertical-align: top; 
}
.KPIs{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.KPI {
    width: 40%;
    height: 80%;
    background-color: white;

    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: #77ADCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#dadoKPI {
    font-size: 2rem;
    font-weight: bold;
    color: #77ADCB;
}
.graficoGrande{
    height: 40%;
    width: 100%;
    background-color: white;
}
.graficosPequenos{
    height: 40%;
    width: 100%;
    display: flex;
}
.graficoPequeno{
    height: 100%;
    width: 50%;
}
.graficoPequeno2{
        height: 100%;
        width: 50%;
    
}