@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.container-principal {
    height: 93%;
    width: 100%;
    display: flex;
}

header {
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(119, 173, 203, 1);

}

.container-principal {
    height: 93%;
    width: 100%;
    display: flex;
}

.header-container img {
    height: 7vh;
    align-items: center;
}

.cabecalho-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13%;
    height: 100%;
    background-color: rgba(119, 173, 203, 1);

    
    .icone-efeito{
        display: flex;
        height:16%;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-top: 2px rgb(32, 88, 119) solid;
      
        i{
            color: white;
            font-size: 2rem; 
        }
        i:hover{
            cursor: pointer;
            color: black;
        }

    }

    .icone {
        display: flex;
        height: 16%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;


        i {
            font-size: 2rem;
            color: white;
        }

        p {
            margin: 0;
            font-size: 1rem;
            color: #555;
        }

        &:hover {

            i,
            p {
                color: black;
            }
        }
    }

    & .icone-saida {
        display: flex;

        height: 16%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
            font-size: 2rem;
            color: white;
        }

        p {
            margin: 0;
            font-size: 0.9rem;
            color: #555;
        }

        &:hover {

            i,
            p {
                color: black;
            }
        }
    }

    .foto-usuario {
        height: 16%;
        width: 100%;
        color: #555;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        img {
            width: 40%;
            height: 60%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

}

.container-section {
    width: 100%;
    height: 93%;
    overflow: hidden;
    border-top: 2px rgb(32, 88, 119) solid;
    

}

.container {
    height: 100%;
    width: 100%;
    display: flex;


    .checkboxUf {
        display: flex;
        height: 100%;
        width: 7%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: #77ADCB;
        font-family: "Poppins", sans-serif;
        font-size: 1.5vw;
        


        & .div_checkbox {
            display: flex;
            margin-left: 23%;
            height: 3.1%;
            gap: 10%;
            font-size: 1vw;
            accent-color: #77ADCB;
            font-weight: 300;
            cursor: pointer;
            color: black;
        }
    

        & input {
            display: flex;
        }
    }


    & .graficosEKpis {
        display: flex;
        height: 100%;
        width: 45%;
        justify-content: center;
        align-items: center;

        & .limiteTamanho {
            height: 90%;
            width: 100%;
            display: flex;
            flex-direction: column;

            & .kpis {
                width: 100%;
                height: 25%;

                display: flex;
                justify-content: space-between;



                & .estrutura {
                    display: flex;
                    flex-direction: column;
                    height: 95%;
                    width: 46%;
                    align-items: center;
                    justify-content: center;
                    border-left: 2px #77ADCB solid;
                    border-right: 2px #77ADCB solid;
                    border-bottom: 2px #77ADCB solid;


                    & .tituloKpi {

                        text-align: center;
                        display: flex;
                        align-items: center;
                        background-color: #77ADCB;
                        height: 40%;
                        width: 100%;
                        color: white;
                        justify-content: center;
                        font-size: small;
                       
                    }

                    & .kpiDado {
                        display: flex;
                        text-align: center;
                        color: #0d425f;
                        justify-content: center;
                        align-items: center;
                        font-size: xx-large;
                        height: 60%;
                        width: 100%;


                    }

                }



            }

            & .graficoGrande {
                height: 37.5%;
                width: 100%;
                display: flex;


                & .estrutura {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    border-left: 2px #77ADCB solid;
                    border-right: 2px #77ADCB solid;
                    border-bottom: 2px #77ADCB solid;

                    & .tituloGraficoGrande {

                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        background-color: #77ADCB;
                        height: 20%;
                        width: 100%;
                        color: white;

                    }

                    & .graficoG {
                        display: flex;

                        text-align: center;
                        align-items: end;
                        height: 75%;
                        width: 100%;

                        & .meuGrafico {
                            width: 100%;
                            height: 100%;
                        }


                    }

                }




            }

            & .graficosPequenos {
                width: 100%;
                height: 37.5%;
                display: flex;
                justify-content: space-between;
                align-items: end;


                & .estrutura {

                    display: flex;
                    flex-direction: column;
                    height: 95%;
                    width: 48%;
                    border-left: 2px #77ADCB solid;
                    border-right: 2px #77ADCB solid;
                    border-bottom: 2px #77ADCB solid;



                    & .tituloGraficoPequenos {
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        background-color: #77ADCB;
                        height: 20%;
                        width: 100%;
                        color: white;
                        font-size: small;

                    }

                    & .graficoP {

                        display: flex;
                        text-align: center;
                        justify-content: start;
                        align-items: end;
                        height: 100%;
                        width: 100%;


                    }
                }
            }
        }
    }

    & .mapaBrasil {
        display: flex;
        height: 100%;
        width: 48%;
        justify-content: center;
        align-items: center;

        & .estrutura {
            height: 90%;
            width: 90%;
            display: flex;
            flex-direction: column;
            border-left: 2px #77ADCB solid;
            border-right: 2px #77ADCB solid;
            border-bottom: 2px #77ADCB solid;



            & .tituloGrafico {
                background-color: #77ADCB;
                height: 13%;
                width: 100%;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 1.5vw;

            }

            & .mapa {
                height: 87%;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                & path {
                    fill: white;
                    stroke: black;
                }

                & .cores {
                    display: flex;
                    position: absolute;
                    justify-content: space-between;
                    background: linear-gradient(to right,
                            #00FF37 0%,
                            #A8FF00 16%,
                            #FFEE00 32%,
                            #FFAA00 48%,
                            #FF5E00 64%,
                            #FF0000 80%,
                            #c32525 100%);

                    height: 2%;
                    width: 15%;
                    border-radius: 20px;
                    transform: rotate(-90deg);
                    margin-right: 30%;
                    margin-top: 10%;

                }

                & .maiorCor {
                    position: absolute;
                    margin-right: 28%;
                    margin-bottom: 3.5%;
                    font-size: 130%;
                }

                & .menorCor {
                    position: absolute;
                    margin-right: 28%;
                    margin-top: 24%;
                    font-size: 140%;


                }


            }
        }
    }


}