footer {
    background-color: 012A4A;
    border-top: 2px solid var(--orange);
    padding: 20px 0;
}

footer .container {
    height: 100%;
    margin: 0 125px;
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between; 
}

footer .logo:hover {
    color: var(--orange);
}

footer .logo {
    font-size: 30px;
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    border-radius: 50%;
}

footer .icones {
    width: 24px;
    height: 24px;
}

footer .container a {
    color: white;
    transition: color 0.3s ease-in-out;
}
footer .container a:hover{
    color: var(--orange);
}

footer .container p {
    color: white;
}

footer li {
    display: flex;
    align-items: center;
    gap: 5px;
}