footer {
    height: 50vh;
    background-color: #77adcc;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer-directors {
    width: 100%;
    padding-inline: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #directors {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  #directors h3 {
    margin-inline: 3vw;
    font-weight: 500;
  }
  
  #social-media img {
    height: 7vh;
    margin-inline: 2vw;
    margin-bottom: 1vh;
  }
  
  #divider {
    width: 90vw;
    height: 0.3vh;
    background-color: white;
  }
  
  #footer-infos {
    width: 100%;
    padding-left: 5vw;
    padding-right: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #footer-infos h3 {
    margin-top: 10vh;
    font-weight: 600    ;
  }
  
  #footer-coments {
    display: flex;
    padding-top: 2.5vh;
  }
  
  #footer-contacts {
    width: 10vw;
  }
  