
* {
    margin: 0;
}

footer  {
    background-color: #012A4A;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between;
    color: white; 
    font-family: 'Poppins';
    
}

footer .logo-container {
    display: flex;
    align-items: flex-start;  
    margin-left: -3vw;
    flex-direction: column;
}

footer .logo{
    width: 6%;
    height: 6%;
}

footer .eleva {
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 100; 
    transition: color 0.3s ease-in-out;
}

footer .direitos {
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-family: "Poppins", sans-serif;
    
}

footer .eleva:hover {
    color: #8ECAE6;
}

footer .icones {
    width: 24px;
    height: 24px;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    transition: color 0.3s ease-in-out;

}
footer a:hover{
    color: #8ECAE6;
}

footer  p {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 1.1vw;
    font-family: "Poppins", sans-serif;
    padding-bottom: 6%; 
}

footer li {
    display: flex;
    align-items: center;
    gap: 2px;
}
 footer .navbar2, footer .navbar3, footer .navbar4 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    align-items: center;
}

 footer .navbar2, footer .navbar3 {
    border-right: 1px solid #ffffff; 
    padding-right: 15px; 
}

footer .navbar1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 45%;
    padding: 10px;

}

footer .navbar1 li:first-child {
    border-bottom: 1px solid #ffffff; 
    padding-bottom: 3%; 
}


