@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container-section {
  width: 100%;
  height: 98%;
  border-top: 2px rgb(32, 88, 119) solid;
  display: flex;
  align-items: center;
  justify-content: center;

  & .estrutura {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 60%;
    align-items: center;
    justify-content: center;
    border-left: 2px #77adcb solid;
    border-right: 2px #77adcb solid;
    border-bottom: 2px #77adcb solid;
    border-radius: 10px;
  }
  .tittle {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: white;
    background-color: #77adcb;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .choice-section {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92%;
  }

  .nome-section {
    width: 50%;
    height: 16%;

    & p {
      color: rgba(119, 173, 203, 1);
      font-size: x-large;
    }

    & input {
      border: 0.5px solid rgba(119, 173, 203, 1);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      /* sombra leve e suave */

      outline: none;
      width: 80%;
      height: 30%;
      border-radius: 40px;
      padding-left: 16px;
    }
  }

  .empresa-section {
    width: 50%;
    height: 16%;

    & p {
      color: rgba(119, 173, 203, 1);
      font-size: x-large;
    }

    & input {
      border: 0.5px solid rgba(119, 173, 203, 1);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      /* sombra leve e suave */

      outline: none;
      width: 80%;
      height: 30%;
      border-radius: 40px;
      padding-left: 16px;
    }
  }

  .cargo-section {
    width: 50%;
    height: 16%;

    & p {
      color: rgba(119, 173, 203, 1);
      font-size: x-large;
    }

    & input {
      border: 0.5px solid rgba(119, 173, 203, 1);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      /* sombra leve e suave */

      outline: none;
      width: 80%;
      height: 30%;
      border-radius: 40px;
      padding-left: 16px;
    }
  }

  .data-section {
    width: 50%;
    height: 16%;

    & p {
      color: rgba(119, 173, 203, 1);
      font-size: x-large;
    }

    & input {
      border: 0.5px solid rgba(119, 173, 203, 1);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      padding: 2px;
      padding-right: 15px;
      /* sombra leve e suave */

      outline: none;
      width: 77%;
      height: 30%;
      border-radius: 40px;
      padding-left: 16px;
    }
  }

  .cidade-section {
    width: 50%;
    height: 16%;

    & p {
      color: rgba(119, 173, 203, 1);
      font-size: x-large;
    }

    & input {
      border: 0.5px solid rgba(119, 173, 203, 1);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      padding-inline: 5px;
      /* sombra leve e suave */

      outline: none;
      width: 80%;
      height: 30%;
      border-radius: 40px;
      padding-left: 16px;
    }
  }
  & button {
    height: 8%;
    width: 23%;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgba(119, 173, 203, 1);
    margin-right: 8%;
    color: white;
    font-size: 14px;
  }
  button:hover {
    cursor: pointer;
    background-color: white;
    border: 1px rgba(119, 173, 203, 1) solid;
    color: rgba(119, 173, 203, 1);
  }
}
