
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #468FAF;
}
.container {
    display: flex;
    width: 60vw; /*vw é uma medida de responsividade, igualmente o vh e %*/
    height: 80vh;
    background-image: url(../imgs/image\ 24.png);
    border-radius: 10px;
    background-size: cover;
    border-radius: 20px;
    position: absolute;

}
.lado-esquerdo {
    width: 50%; /* cada lado ocupa 50% da largura da tela */
    height: 100%; /* ocupa toda a altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    justify-content: start;
}
.lado-esquerdo {
    background-color: white;
    color: white;
    transition: transform 1s ease;
    border-radius: 20px;
}
.links button {
    padding: 10px;
    background-color: #8ECAE6; 
    color: #000;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    width: 30%;

}
.troca .lado-esquerdo {
    transform: translateX(100%);
}
.parteCima{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
 
    
}
.lado-esquerdo .parteCima img{
    height: 90%;
}
input{
    border: none;
    background: transparent ;
    border-bottom: 2px black solid;
    outline: none;
}
.formLogin{
    display: flex; 
    flex-direction: column;
    width: 90%;
    height: 80%;
    justify-content: start;
    gap: 6%;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(55, 154, 247);
    font-size: 11px;
}
.links{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 3%;

}
.links a{
    text-decoration: none;
    color: rgb(55, 154, 247); 
    font-size: 11px;
}
h3{
    font-size: 18px;
    text-align: center;
}
 .formCadastro{
    display: flex; 
    flex-direction: column;
    width: 90%;
    height: 80%;
    justify-content: start;
    gap: 3%;
 } 