.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 7vh;
    background-color: rgba(197, 222, 234, 1);

  }

  .icons-suporte.ativo p{
    display: none;
  }

 .user-name.ativo p {
    display: none;
 }

 .icons-grupos.ativo p {
    display: none;
 }

 .icons-sino.ativo p {
    display: none;
    transition: 10s;
 }

 .icons-dashboard.ativo p {
    display: none;
 }
 
  .container-principal{
    height: 99vh;
    width: 99vw;
    display: flex;
  }

  .header-container img{
    height: 7vh;
    align-items: center;
  }

.left-header{
    display: flex;
    align-items: flex-start;
    height: 99vh;
    width: 15vw;
    background-color: rgba(119, 173, 203, 1);
    flex-direction: column;
    transition: 1s
  }  

  
  .left-header.ativo{
    display: flex;
    align-items: flex-start;
    height: 99vh;
    width: 5vw;
    background-color: rgba(119, 173, 203, 1);
    flex-direction: column;
  }


  .expandir-img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 15vw;
  }


  .expandir-img.ativo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17px;
    width: 3vw;
    height: 6vh;
    margin-top: 10px;
    border-radius: 20px;
    transition: 0.7s;
  }


  .expandir-img.ativo:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }

  .expandir-img img{
    margin-top: 25px;
    margin-right: 25px;
    height: 1.5vw;
   
  }

  .expandir-img.ativo img{
    margin-left: 25px;
    height: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
  }

  .user-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    height: 20vh;
  }

  .user-img.ativo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 20vh;
  }

  .user-img img{
    height: 15vh;
    transition: 1s;
  }

  .user-img.ativo img{
    height: 5vh;
  }

  .user-name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    transition: 1s;
  }


  .user-name.ativo{
    display: none;
  }


.user-name p{
    color: white;
    font-size: 1.2vw;
}

.user-name img{
    transition: 1s;
    margin-top: 9px;
    margin-left: 10px;
}

.icons-sino{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 6vh;
    font-size: 20px;
    margin-top: 60px;
    border-radius: 20px;
    transition: 1.5s;
}


.icons-sino.ativo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    margin-left: 10px;
    height: 6vh;
    font-size: 20px;
    margin-top: 60px;
    border-radius: 40px;
    transition: 0.5s;
}

.icons-sino:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icons-sino a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    margin-right: 10px;
}

.icons-sino img{
    height: 4.5vh;
   
}

.icons-sino.ativo img{
    height: 4.5vh;
    margin-left: 6px;
}

.icons-dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 6vh;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    transition: 0.5s;
}


.icons-dashboard.ativo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    margin-left: 9px;
    height: 6vh;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 40px;
    transition: 0.5s;
}

.icons-dashboard:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icons-dashboard a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    margin-right: 10px;
}

.icons-dashboard img{
    height: 4.5vh;
    margin-right: 10px;
}

.icons-dashboard.ativo img{
    height: 4.5vh;
    margin-left: 20px;
}

.icons-grupos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 6vh;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    transition: 0.5s;
}


.icons-grupos.ativo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    margin-left: 9px;
    height: 6vh;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 40px;
    transition: 0.5s;
}

.icons-grupos:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icons-grupos a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
    width: 100%;
    height: 100%;
    color: white;
    margin-right: 10px;
}

.icons-grupos img{
    height: 5.5vh;
    margin-right: 10px;
}

.icons-grupos.ativo img{
    height: 5.5vh;
    margin-right: 15px;
}


.icons-suporte{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 6vh;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 260px;
    border-radius: 20px;
    transition: 0.5s;
}

.icons-suporte.ativo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    margin-left: 9px;
    height: 6vh;
    font-size: 20px;
    margin-top: 90px;
    border-radius: 40px;
    transition: 0.5s;
}

.icons-suporte:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icons-suporte a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
    width: 100%;
    height: 100%;
    color: white;
    margin-right: 10px;
}

.icons-suporte img{
    height: 4.5vh;
    margin-right: 10px;
}

.icons-suporte.ativo img{
    height: 4.5vh;
    margin-right: 12px;
}


.icons-exit{
    display: flex;
    justify-content: flex-end;
    width: 14vw;
}

.icons-exit.ativo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    margin-left: 13px;
    height: 6vh;
    font-size: 20px;
    margin-top: 90px;
    border-radius: 40px;
    transition: 0.5s;
}

.icons-exit img{
    margin-top: 20px;
   height: 2.5vw;
}