        @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#home_sobre {
  width: 100%;
  height: 100vh;
  background-image: url(../imgs/chris-nguyen-lbmrrNgq2lo-unsplash\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & p {
    color: white;
    margin-left: 2vw;
    font-size: 2vw;
    font-weight: 200;
    margin-top: -3vw;
  }

  & #titulo {
    font-size: 4.5vw;
    margin-top: 10vw;
    font-weight: 500;
  }

}


#direcionador {
  width: 12vw;
  height: 3vw;
  background-color: white;
  border-radius: 3vw;
  margin: 2vw;
  margin-top: -0.2vw;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #012a4a;
    font-size: 1.2vw;
    margin-left: 0.3vw;
    margin-top: 0vw;
    margin-bottom: 0.2vw;
  }

  & img {
    height: 1.5vw;
    margin-left: 1vw;
  }
}

#info_sobre {
  width: 100%;
  height: 70vw;
  background-color: white;
}

#sobre_eleva {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;

  & .sobre_texto {
    font-size: 2vw;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

#sobre_eleva_flyer {
  width: 25vw;
  height: 6vw;
  background-color: #012A4A;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3vw;
  border-radius: 90px;
  font-size: 2.3vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sobre_atuacao_titulo {
  font-size: 3vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #012a4a;
  text-align: center;
  margin: 2.5vw;
}

#sobre_atuacao_navs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sobre_atuacao_nav {
  width: 25vw;
  height: 28vw;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 25px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  & img {
    height: 8vw;
    margin-top: 2vw;
  }
}

#sobre_atuacao_nav_titulo {
  text-align: center;
  font-size: 1.5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #012a4a;
  margin: 25px;
}

#sobre_atuacao_nav_texto {
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  font-weight: 500;
  font-style: normal;
  margin-inline: 25px;
  text-align: center;
}

.conteudo{
  display: flex;
  height: 50vw;
  width: 100%;
  flex-direction: column;
}

.secao-motivacao{
  display: flex;
  width: 100%;
  height: 45%;
}

.secao-cultura{
  gap: 1vw;
  margin-left: 10vw;
  display: flex;
  width: 100%;
  height: 45%;
  flex-direction: column;
}

.container-imagem-texto{
  margin-left: 2vw;
  border-radius: 1.5vw;
  width: 24vw;
  margin-top: 15.5vw;
  height: 28vw;
  background-image: url(../imgs/SobreNós2.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.titulo-motivacao{
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 2.2vw;
  margin-top: 15.5vw;
  margin-left: 2vw;
  color: #012A4A;
}


.descricao-motivacao{
  display: flex;
  flex-direction: column;
  width: 68vw;
  text-align: justify;
  height: 20vw;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
}
.descricao-motivacao h2{
  font-weight: 300;
  margin-top: -1vw;
  margin-left: 2vw;
}

.titulo-cultura{
  text-align: center;
  width: 100%;
  height: 15%;
  font-size: 2.5vw;
  margin-top: 28vw;
  color: #012A4A;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.container-valores{
  display: flex;
  justify-content: center;
  margin-top: 7vw;
  width: 100%;
  height: 100%;
  padding-bottom: 5vw;
}

.cartao{
  border-left: 1px solid #012A4A;
  margin-left: 1.5vw;
  width: 100%;
  height: 90%;
  
}

.cartao h3{
  justify-content: center;
  font-size: 1.8vw;
  margin-top: -0.3vw;
  margin-left: 0.5vw;
  font-family: "Poppins", sans-serif;
  color: #012A4A;
}
.cartao p{
  font-size: 1.5vw;
  width: 85%;
  margin-top: -1.3vw;
  margin-left: 0.5vw;
  font-weight: 200;
  color: #012A4A;
  font-family: "Poppins", sans-serif;
}


