@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: default;
}


.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
   

}

.solicitacoes {
     background: linear-gradient(to bottom, #ffffff 0%, #77ADCB 50%, #ffffff 100%);
     width: 50%;
     height: 100%;
}

.solicitacoes h2 {
    text-align: center;
    color: #2E7094;
    margin-bottom: 20px;
    position: relative;
    bottom: -4%;
    font-size: 50px;
     font-weight: 400;
}

table {
    position: relative;
    bottom: -5%;
    margin-left: 5%;
    width: 90%;
    height: 60%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
     text-align: center;
}

th, td {
    padding: 12px 20px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #f0f8ff;
    color: #77ADCB;
    font-weight: 600;
}

td {
    color: #333;
    border-top: 1px solid #f0f0f0;
}

.formulario {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    height: 100%;
     
}

.formulario h2 {
    text-align: center;
    color: #77ADCB;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 55px;
}


.formulario form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%;
    align-items: center;
}

.formulario input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #e9f3f8;
    font-size: 14px;
    outline: none;
    width: 80%;
    
}
.campo {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.campo p {
    margin: 0 0 5px 5px;
    font-size: 16px;
    font-weight: 300;
}

.campo input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #e9f3f8;
    font-size: 14px;
    outline: none;
    width: 100%;
}

.formulario button {
    padding: 12px;
    background-color: #77ADCB;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 40%;
    font-size: 25px;

}

.formulario button:hover {
    background-color: #5d94b2;
}

.home-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.home-icon img {
    width: 60px;
    height: 60px;
}
